.App {
  background-color: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar{
  background-color: #F9F9F9;
  box-shadow: 0px 3px 6px #112D4612;
  opacity: 1;
}

.brand-logo{
font-family: 'LatoBold';
font-size: 23px;
letter-spacing: 2px;
color: #112D46;
opacity: 1;
margin-top: 15px;
}

.main-menu {
  text-align: right;
  margin-top: 22px;
}


.main-menu a{
  margin-left: 30px;
  color: #707070;
  font-size: 10px;
  letter-spacing: 2px;
  font-family: 'LatoBold';
  text-transform: uppercase;
}

.main-menu a:hover{
  color: #112D46;
}

.dropdown-menu-items a {
  font-size: 11px;
  color: #9D9D9D42;
  font-family:'LatoNormal' ;
}

.nav-icons{
  text-align: right;
  margin-top: 20px;
}

.nav-icons .cart-icon{
  width: 30px;
  height: 25px;
  margin-left: 20px;
}

.nav-icons .account-icon{
  width: 30px;
  height: 23px;
  margin-left: 20px;
}

.footer{
  margin-top: 100px;
  position: relative;
  width: 100%;
  bottom: 0;
  opacity: 1;
  background: #F9F9F9 0% 0% no-repeat padding-box;
}

.container{
  margin-left: 12%;
  margin-right: 12%;
}

.footer-container{
  margin-left: 10%;
  margin-right: 10%;
}

.footer-section{
  margin-top: 30px;
font-family: 'LatoSemiBold';
letter-spacing: 2.5px;
font-size: 12px;
color: #605E5E;
opacity: 1;
}



.footer-section .social-icon-facebook{
  height: 15px;
}

.footer-section .social-icons{
  height: 15px;
  margin-left: 20px;
}

.get-inspiration{
 display: flex;
 font-family: 'LatoNormal';
}

.get-inspiration Input {
border: 1px solid #605E5E;
border-top-left-radius: 27px;
border-bottom-left-radius: 27px;
opacity: 1;
width: 160px;
}

.get-inspiration Input::placeholder {
  letter-spacing: 1.63px;
  color: #707070;
  text-transform: uppercase;
  opacity: 1;
  font-size: 10px;
}

.get-inspiration Button{
  background: #112D46 0% 0% no-repeat padding-box;
border: 1px solid #605E5E;
border-radius: 0px 27px 27px 0px;
opacity: 1;
letter-spacing: 2.13px;
color: #F9F9F9;
text-transform: uppercase;
opacity: 1;
font-size: 10px;
width: 110px;
}

.footer-credits{
  background-color: #112D46;

}

.footer-credits p{
  
  letter-spacing: 2.5px;
  color: #EBEBEB;
  margin-top: 12px;
  text-transform: capitalize;
  opacity: 1;
  font-family: 'LatoNormal';
  font-size: 12px;
}

.section-1{
  margin-top: 40px;
}

.section-1 h1{
font-family: 'LatoBold';
letter-spacing: 3.48px;
color: #112D46;
text-transform: uppercase;
opacity: 1;
font-size: 35px;
margin-top: 80px;
}

.section-1 p {
letter-spacing: 0.25px;
color: #605E5E;
text-transform: lowercase;
opacity: 1;
font-family: 'LatoNormal';
width: 60%;
border-left: 3px solid #112d46;
padding-left: 20px;
font-size: 14px;
}

.section-1 .social-text{
  transform: rotate(90deg);
  float: right;
  margin-top: 60px;
  text-transform: uppercase;
  border: none;
  color: #9D9D9D;
  letter-spacing: 2.25px;
  font-size: 10px;
  font-family: 'LatoMedium';
}

.section-2{
  margin-top: 8%;
}

.section-heading{
  line-height: 10px;
}

.section-heading h2{
  font-size: 26px;
  font-family: 'LatoMedium';
  text-align: center;
  letter-spacing: 1.9px;
  color: #112D46;
  text-transform: capitalize;
}

.section-heading img{
  width: 14%;
}

.section-heading p{
  letter-spacing: 0.15px;
  color: #605E5E;
  font-size: 16px;
  font-family: 'LatoNormal';
  margin-top: 10px ;
  width: 45%;
  line-height: 20px;
}

.frame{
  background-color: #F9F9F9;
  padding: 10px;
  width: 90%;
  height: auto;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  position: relative;
}

.frame img{
  height: auto;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.frame:hover img {
  opacity: 0.6;
}

.frame:hover .middle {
  opacity: 1;
}

.middle{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000A3;
}

.frame Button{
  background-color: #112D46;
  border: none;
  color: #bfc6cc;
  font-size: 11px;
  height: 45px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: 'LatoSemiBold';
  margin-top: 60%;
}

.frame Button:hover{
  background-color: #112D46;
  border: none;
  color: #bfc6cc;
}

.frameName{
font-family: 'LatoSemiBold'; 
letter-spacing: 1.71px;
color: #112D46;
text-transform: capitalize;
opacity: 1;
margin-top: 12px;
font-size: 11px;
}

.section-3, .section-4, .section-5, .section-6, .section-7{
  margin-top: 5%;
}

.img-hover-zoom {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: auto;
  width: 95%;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  height: auto;
  width: 100%;
  -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  -webkit-transform:scale(1.2); /* Safari and Chrome */
  -moz-transform:scale(1.2); /* Firefox */
  -ms-transform:scale(1.2); /* IE 9 */
  -o-transform:scale(1.2); /* Opera */
  transform:scale(1.2);
}

.img-hover-zoom .overlay{
position: absolute;
top: 38px;
border: 1px solid white;
height: 82%;
width: 90%;
padding: 11px;
left: 20px;
opacity: 0;
}
.img-hover-zoom:hover .overlay {
opacity: 1;
}
/* .section-3 .left-image{
  height: 520px;
  width: 95%;
} */


.section3-frame{
  background-color: #F9F9F9;
  padding: 10px;
  width: 90%;
  height: auto;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  position: relative;
}

.section3-frame img{
  height: auto;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.section3-frame:hover .section3-overlay {
  opacity: 1;
}

.section3-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.heart{
  position: absolute;
  right: 10px;
  opacity: 0.7;
}

.section3-frame Button{
  background-color: #112D46;
  border: none;
  color: #bfc6cc;
  font-size: 10px;
  width: 100%;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: 'LatoSemiBold';
  margin-top: 100%;
}

.section3-frame Button:hover{
  background-color: #112D46;
  border: none;
  color: #bfc6cc;
}

.frameName{
font-family: 'LatoSemiBold'; 
letter-spacing: 1.71px;
color: #112D46;
text-transform: capitalize;
opacity: 1;
margin-top: 12px;
font-size: 11px;
}

.section-4 .leftImage{
height: 450px;
width: 95%;
}

.section-4 .top-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: auto;
  width: 90%;
}

.section-4 .top-image img{
  height: auto;
  width: 100%;
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    vertical-align: middle;
}

.section-4 .top-image:hover img {
  -webkit-transform:scale(1.6); /* Safari and Chrome */
  -moz-transform:scale(1.6); /* Firefox */
  -ms-transform:scale(1.6); /* IE 9 */
  -o-transform:scale(1.6); /* Opera */
  transform:scale(1.6);
}

.bottom-image {
  margin-top: 3%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: auto;
  width: 95%;
}

/* [2] Transition property for smooth transformation of images */
.bottom-image img {
  height: auto;
  width: 100%;
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    vertical-align: middle;
}

/* [3] Finally, transforming the image when container gets hovered */
.bottom-image:hover img {
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}

.bottom-image .overlay{
position: absolute;
top: 25px;
border: 1px solid white;
height: 82%;
width: 90%;
padding: 11px;
left: 20px;
opacity: 0;
}

.bottom-image:hover .overlay {
opacity: 1;
}

.section-5 h2{
font-family: 'LatoBold';
letter-spacing: 3.14px;
color: #112D46;
text-transform: capitalize;
opacity: 1;
font-size: 28px;
}

.section-5 p{
font-family: 'LatoNormal';
letter-spacing: 0.14px;
color: #707070;
opacity: 0.83;
font-size: 16px;
width: 72%;
}

.whyChooseUs p{
  font-family: 'LatoNormal';
  letter-spacing: 0.25px;
  color: #112D46;
  text-transform: capitalize;
  font-weight:600;
  font-size: 15px;
}

.whyChooseUs .subText{
  margin-top: 6px;
  font-family: 'LatoNormal';
  letter-spacing: 0.22px;
  color: #605E5E;
  font-size: 13px;
  font-weight: 300;
}

.startFramingButton Button{
  border: 1px solid #112d46;
  border-radius:27px;
  letter-spacing: 2.13px;
  color: #112d46;
  text-transform: uppercase;
  opacity: 1;
  font-size: 11px;
  width: 180px;
  font-family: 'LatoSemiBold';
}

.ReadMore Button{
  
  border: 1px solid #112d46;
  border-radius:27px;
  letter-spacing: 2.13px;
  color: #112d46;
  text-transform: uppercase;
  opacity: 1;
  font-size: 10px;
  width: 130px;
  font-family: 'LatoSemiBold';
}

.startFramingButton Button:hover, .ReadMore button:hover{
  background-color: #112d46;
  border: 1px solid #112d46;
  color: white;
  }

  .parent {
    position: relative;
    top: 0;
    left: 10%;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    height: 300px;
  }

  .image2 {
    position: absolute;
    top: 35px;
    left: 40px;
    height: 300px;
  }

  .blog img{
    width: 220px;
    height: 190px;
  }

  .blog-category{
    letter-spacing: 0.2px;
    color: #605E5E;
    text-transform: capitalize;
    opacity: 1;
    font-family: 'LatoNormal';
    font-size: 12px;
    width: 90%;
  }

  .blog-title{
letter-spacing: 0.04px;
color: #112D46;
text-transform: capitalize;
opacity: 1;
font-family: 'LatoSemiBold';
font-size: 12px;
  }
  
  @media screen and (max-width: 980px) {
    .section-2{
     margin-top: 150px;
    }
    .section-3, .section-4, .section-5, .section-6, .section-7 {
      margin-top: 100px;
    }
    .client-review, .blog{
      margin-top: 50px;
    }
    .main-menu {
      text-align: left;
      margin-top: 5px;
    }
    
    
    .main-menu a{
      color: #707070;
      font-size: 13px;
      letter-spacing: 2px;
      font-family: 'LatoBold';
      text-transform: uppercase;
    }
  }